-- Options

--options.timeout = 120
--options.expunge = true

-- Accounts

personal_account = IMAP {
    server = 'imap.gmail.com',
    username = 'jladdjr@gmail.com',
    password = "{{ MUTT_PERSONAL_PASSWORD | default('CHANGME') }}",
    ssl = 'auto'
}

redhat_account = IMAP {
    server = 'imap.gmail.com',
    username = 'jladd@redhat.com',
    password = "{{ MUTT_REDHAT_PASSWORD | default('CHANGEME') }}",
    ssl = 'auto'
}


-- Delete calendar alerts
messages = personal_account["INBOX"]:match_subject('^Alert - .*')
messages:delete_messages()

-- Label old e-mails as overdue
messages = personal_account["INBOX"]:is_older(1)
  + personal_account["group"]:is_older(2)
  + personal_account["world"]:is_older(3)
  + personal_account["#day"]:is_older(1)
  + personal_account["#week"]:is_older(7)
  + personal_account["#month"]:is_older(30)
messages:move_messages(personal_account["#overdue"])

-- Label 2 month old e-mails as extremely overdue
messages = personal_account["#overdue"]:is_older(60)
messages:move_messages(personal_account["#extremely-overdue"])


-- Forward openstenoproject/plover mail to personal mail
messages = redhat_account['INBOX']:contain_subject('openstenoproject/plover')
messages:move_messages(personal_account['INBOX'])


-- Mark all mail in archive as seen (i.e. read)

-- messages = personal_account["[Gmail]/All Mail"]:is_unseen()
-- messages:mark_seen()
--
-- messages = redhat_account["[Gmail]/All Mail"]:is_unseen()
-- messages:mark_seen()


-- Test filter

messages = personal_account["INBOX"]:contain_to('jladdjr+todo@gmail.com')
messages:move_messages(personal_account['#todo'])


-- List mailboxes

-- mailboxes, folders = personal_account:list_all('')  -- or '[Gmail]'
-- for _, m in ipairs(mailboxes) do print(m) end
-- for _, f in ipairs(folders) do print(f) end

-- Steph email

steph_account = IMAP {
    server = 'imap.gmail.com',
    username = 'stephanie.s.gehring@gmail.com',
    password = "{{ MUTT_STEPH_PASSWORD | default('CHANGME') }}",
    ssl = 'auto'
}

-- Label old e-mails as overdue
messages = steph_account["INBOX"]:is_older(1)
  + steph_account["day"]:is_older(1)
  + steph_account["week"]:is_older(7)
  + steph_account["month"]:is_older(30)
messages:move_messages(steph_account["overdue"])

-- Label 2 month old e-mails as extremely overdue
messages = steph_account["overdue"]:is_older(60)
messages:move_messages(steph_account["extremely-overdue"])
