[user]
        name = Jim Ladd
        email = jladd@redhat.com
[push]
        default = current
[alias]
        co = checkout
        st = status
        br = branch
        last = log -1 HEAD
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
