[general]
ui = ttyui
accounts = Jim,RH
#Disable idling until I can adapt idle.py for centos and create get_pass
#pythonfile=~/.mutt/idle.py
fsync = False
keepalive = 60

metadata = /var/mapped/.offlineimap

[Account Jim]
localrepository = Jim-Local
remoterepository = Jim-Remote
status_backend = sqlite
postsynchook = notmuch new

[Account RH]
localrepository = RH-Local
remoterepository = RH-Remote
status_backend = sqlite
postsynchook = notmuch new

[Repository Jim-Local]
type = Maildir
localfolders = /var/mapped/.mail/gmail.com
nametrans = lambda folder: {'drafts'        : '[Gmail]/Drafts',
                            'sent'          : '[Gmail]/Sent Mail',
                            'starred'       : '[Gmail]/Starred',
                            'trash'         : '[Gmail]/Trash',
                           }.get(folder, folder)

folderfilter = lambda folder: (folder not in ['[Gmail]/Trash',
                                             '[Gmail]/Important',
                                             '[Gmail]/Spam',
                                             '[Mailbox]'
                                            ]) and 'Airmail' not in folder

[Repository Jim-Remote]
maxconnections = 1
type = Gmail
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN
sslcacertfile = /etc/ssl/certs/ca-bundle.crt
remoteuser = jladdjr@gmail.com
remotepass = {{ MUTT_PERSONAL_PASSWORD | default('CHANGME') }}
realdelete = no
nametrans = lambda folder: {'[Gmail]/Drafts'                    : 'drafts',
                            '[Gmail]/Sent Mail'                 : 'sent',
                            '[Gmail]/Starred'                   : 'starred',
                            '[Gmail]/Trash'                     : 'trash',
                           }.get(folder, folder)

[Repository RH-Local]
type = Maildir
localfolders = /var/mapped/.mail/redhat.com
nametrans = lambda folder: {'drafts'        : '[Gmail]/Drafts',
                            'sent'          : '[Gmail]/Sent Mail',
                            'starred'       : '[Gmail]/Starred',
                            'trash'         : '[Gmail]/Trash',
                           }.get(folder, folder)

[Repository RH-Remote]
maxconnections = 1
type = Gmail
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN
sslcacertfile = /etc/ssl/certs/ca-bundle.crt
remoteuser = jladd@redhat.com
remotepass = {{ MUTT_REDHAT_PASSWORD | default('CHANGEME') }}
realdelete = no
nametrans = lambda folder: {'[Gmail]/Drafts'            : 'drafts',
                            '[Gmail]/Sent Mail'         : 'sent',
                            '[Gmail]/Starred'           : 'starred',
                            '[Gmail]/Trash'             : 'trash',
                           }.get(folder, folder)
